{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">

        <div class="logo text-center my-4">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Bookgraph Logo">
        </div>

        <div class="signup-container">

            <h2 class="text-center mb-2">Welcome back</h2>
            <p class="text-center text-muted mb-4">Please enter your details.</p>

            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }} {# CSRF token #}

                <div class="form-group mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", size=32) }}
                    {% for error in form.email.errors %}
                        <span class="text-danger small">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", size=32) }}
                    {% for error in form.password.errors %}
                        <span class="text-danger small">[{{ error }}]</span>
                    {% endfor %}
                </div>

                 <div class="form-check mb-3">
                    {{ form.remember_me(class="form-check-input") }}
                    {{ form.remember_me.label(class="form-check-label") }}
                </div>

                <div class="text-end mb-4">
                    <a href="{{ url_for('forgot_password') }}"><small>Forgot password</small></a>
                </div>

                {{ form.submit(class="signup-btn btn w-100 fw-bold text-white") }}
            </form>

            <div class="login-link text-center mt-3">
                <small>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></small>
            </div>

        </div>
    </div>
</div>
{% endblock %}